@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.errorPage {
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorPage ::selection {
  background-color: white;
  color: black;
}
